<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ../partials/ldOut %>
	 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
 	 
  </head>
  <body class="slds">
    <header>
    </header>
    <main>
      <div class="container">
			<div class="jumbotron">
				<h1>Lightning Out on Heroku</h1>
				<button id="chatterFeedButton" class="btn btn-primary btn-lg" onclick="createChatterFeed('NEWS')" >
					Create Chatter Feed
				</button>
				<button id="sfAccountList" class="btn btn-primary btn-lg" onclick="showAccountList('NEWS')">
					Show Account List
				</button>
				<button id="sfchat" class="btn btn-primary btn-lg" onclick="showChat('NEWS')">
					Show Account List
				</button>
				<a id="liveagent_button_online_573j0000000008I" href="javascript://Chat" style="display: none;" onclick="liveagent.startChat('573j0000000008I')">Chaaat</a><div id="liveagent_button_offline_573j0000000008I" style="display: none;">offline</div><script type="text/javascript">
				if (!window._laq) { window._laq = []; }
				window._laq.push(function(){liveagent.showWhenOnline('573j0000000008I', document.getElementById('liveagent_button_online_573j0000000008I'));
				liveagent.showWhenOffline('573j0000000008I', document.getElementById('liveagent_button_offline_573j0000000008I'));
				});</script>
				<script type='text/javascript' src='https://c.la2w2.salesforceliveagent.com/content/g/js/38.0/deployment.js'></script>
				<script type='text/javascript'>
				liveagent.setChatWindowWidth(500); 
				liveagent.setChatWindowHeight(500); 

				liveagent.init('https://d.la2w2.salesforceliveagent.com/chat', '572j0000000009n', '00Dj0000000L7zM');
				</script>
				

			</div>
			<div id="renderLtngComp"/>
		</div>
    </main>
        <footer>
        </footer>
        <script>
			var url = "<%= ouathLightningURL %>";
			console.log('oauth url - '+url);
			var token = "Bearer "+"<%= oauthtoken %>";
			console.log(token);
			$Lightning.use("c:loTest", function() {},url,token );
			function createChatterFeed(type, subjectId) {
				document.getElementById("renderLtngComp").innerHTML = "";
				$Lightning.createComponent("forceChatter:feed", {type: type, subjectId: subjectId}, "renderLtngComp"); 
			}

			function showChat(type, subjectId) {
				document.getElementById("renderLtngComp").innerHTML = "";
				$Lightning.createComponent("c:ltgoutchat", {type: type, subjectId: subjectId}, "renderLtngComp"); 
			}


			function showAccountList(type, subjectId) {
				document.getElementById("renderLtngComp").innerHTML = "";
				$Lightning.createComponent("c:MyContactList", {type: type, subjectId: subjectId}, "renderLtngComp"); 
			}
        </script>
  </body>
</html>